<!doctype html>

<html lang="en">

<head>


  <meta charset="utf-8">

  <title>Metadate</title>
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">

  <link rel="stylesheet" type="text/css" href="style.css">

</head>

<body>
  <div id="frame">

    <h1 id="heading">METADATE</h1>
    <div id="content">
        <div class=row>
            <a class="link" href="/newdate">New Date</a> <a class="link" href="/kiosk">Kiosk</a>
        </div>
        {{#each dates}}
        <div class=row>
            <a href="{{this.url}}">
                <span class="inputFields">
                    <span class="listheader">
                        {{this.who}} seeks {{this.what}}
                    </span>
                    <br>
                    <span class="listcontent">
                        {{this.shortdesc}}
                    </span>

                </span>
            </a>
        </div>
        {{/each}
    </div> 

  </div>
</body>

</html>
